* {
    margin: 0 ;padding: 0;
}
h1 {
    background-color: rgba(94, 224, 103, 0.74);border-radius: 500px;text-align: center; height: 35px; width: 40%;color: rgba(255, 255, 255, 0.86)
    ;
}
p {
    background-color: rgb(104, 219, 111);
    color:rgb(255, 255, 255);border-radius: 10px; margin: 0;padding: 20px;font-size: larger;text-align: justify;font-family: 'Times New Roman';
}
.header {
    height: 35px; width: 100%; background-color: rgb(43, 38, 38);display: flex; justify-content: space-evenly
    ;align-items: 
    center;
}
.logo-and-socials {
    background-color: powderblue;height: 600px; width: 100%; 
}