* {
    margin: 0 ;padding: 0;
}
h1 {
    text-align:left; height: 35px;color:
    ;padding-left: 10px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;text-decoration: solid;color: rgb(255, 0, 0);padding-left: 0;font-size: xx-large;
}
.about {
    text-align: justify;font-family: 'Times New Roman';color:aliceblue;font-size: 20px;
}
.header {
    height: 70px; width: 100%; background-color:rgb(48, 46, 46);display: flex;justify-content:space-between
    ;align-items: 
    center;
}

.socials {
    padding-inline: 
    5px; align-items: center;height: 30px;
}
.menus {
    display: inline-block;align-items: center ;color:beige;padding: o;
}
.menu {
    padding-left: 17px;font-size: x-large;
}

.items {
    height: 700px;width: 100%;display: flex;
}
.left {
    background-color: rgba(255, 255, 255, 0);height: 30%;width: 90%;display: flex; margin: 10px;justify-content: center;justify-content: center;
}
.right {
    background-color: rgb(255, 255, 255);height: 35%;width: 45%;
}

.details {
    background-color: rgb(255, 255, 255);height: 90%;width: 45%;margin-right: 10px;display:flex;justify-content:  center;flex-direction: column;
}
.button {
    height: 60px;width: 180px;color: white;background-color: red;font-size: 25px;font-family: Verdana, Geneva, Tahoma, sans-serif;border-radius: 10px; margin: 0 auto;
}
p {
    text-align: left;padding: 10px;font-size: large;text-align: justify;
}
.margin {
    margin:0 auto;
}