* {
    background-color: powderblue;margin: 0 ;padding: 0;
}
h1 {
    background-color: rgb(230, 96, 96);border-radius: 500px;text-align: center;margin-top:5px;margin-bottom: 10px;margin-left: 20%;margin-right: 20%; padding: 0px;padding: 10px;
}
p {
    background-color: rgb(43, 93, 164);
    color:rgb(255, 255, 255);border-radius: 10px; margin: 0;padding: 20px;font-size: larger;text-align: justify;font-family: 'Times New Roman';
}